html,
body {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  font-family: -apple-system, sans-serif;
  color: white;
  text-align: center;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}
.bg {
  background: radial-gradient(
    circle,
    #1b1227,
    #191124,
    #180f20,
    #160e1d,
    #140c1a,
    #120b18,
    #100a16,
    #0e0914,
    #0d0912,
    #0c0811,
    #0a080f,
    #09070d
  );
}
