html,
body {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  font-family: -apple-system, sans-serif;
  color: white;
  text-align: center;
  width: 100%;
  height: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}
.bg {
  background-color: #140b1c;
}

.img-banner {
  width: 100vw;
  margin: 30px auto;
}

.wrapper {
  padding: 30px;
}

.grid-container {
  display: grid;
  column-gap: 50px;
  row-gap: 30px;
}

.grid-item {
  /* border: 1px solid rgba(255, 255, 255, 0.8); */
  border-radius: 8px;
  padding: 40px;
  text-align: center;
  font-weight: 900;
  font-size: 24px;
}

.grid-item:nth-child(1) {
  background: #f46b45; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #eea849,
    #f46b45
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #eea849,
    #f46b45
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.grid-item:nth-child(2) {
  background: #134e5e; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #71b280,
    #134e5e
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #71b280,
    #134e5e
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.grid-item:nth-child(3) {
  background: #4b6cb7; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #182848,
    #4b6cb7
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #182848,
    #4b6cb7
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.text-know-more {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 4px;
  width: 104px;
  margin: 0px auto;
  margin-top: 30px;
  cursor: pointer;
}

.text-know-more:hover {
  background-color: white;
  color: rgba(0, 0, 0, 0.9);
}

@media (min-width: 920px) {
  .img-banner {
    width: 480px;
  }

  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .grid-item {
    font-size: 36px;
  }
}
